.container {
  padding: 20px;
  padding-top: 100px;
  /* FLEX */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoListContainer {
  background-color: rgb(237, 237, 237);
  margin-top: 50px;
  padding: 1.5px;

  width: 500px;
}

.todoItemsContainer {
  background-color: white;
  border-bottom: 1px solid #c2c2c2;
}